@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
 
 :root{
    --Cyan: hsl(179, 62%, 43%) ;
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
   --Grayish-Blue: hsl(218, 22%, 67%);
 }
 html {
     box-sizing: border-box;
 }

 *,
 *::before,
 *::after {
     box-sizing: inherit;
     margin: 0;
     padding: 0;
 }
 body{
    background-color: var(--Light-Gray);
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Karla',sans-serif;
    font-size: 16px;
    
 }
 .container{
    margin: 0 auto;
    max-width: 920px;
 }
 .wrapper{
    display: grid;
    border-radius: 7px;
    overflow: hidden;
    background-color: #fff;
    grid-template-columns: 50% 50%;
    grid-template-areas: "a a" "b c";
    margin: 2rem 1rem;

 }
 .box{
    padding: 40px;
 }
 .join{
    grid-area: a;
 }
 .subscription{
    grid-area: b;
    background-color: var(--Cyan);
 }
 .whyus{
    grid-area: c;
    background-color:hsl(179, 62%, 50%) ;
 }
  .join h2{
    color: var(--Cyan);
    font-size: 26px;
    padding-bottom: 20px;
 }
 .join h4{
    color: var(--Bright-Yellow);
    padding-bottom: 12px;

 }
 .join p{
    color: var(--Grayish-Blue);
    line-height: 1.4;
 }
 h2{
    color: #fff;
    font-size:20px ;
    padding-bottom: 15px;
 }
 h5{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
 }
 h5 span.price{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    padding-right: 10px;
 }
 h5 span{
    font-weight: 400;
    color:var(--Light-Gray);
 }
 .subscription p {
    color: #fff;
 }
 .subscription a{
    display: block;
    text-align: center;
    background-color: var(--Bright-Yellow);
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: 13px;
    padding: 12px 0;
    border-radius: 4px;
    margin-top: 30px;
 }
 .whyus ul{
    list-style: none;
 }
 .whyus li{
    color: #fff;
    padding-bottom: 4px;
    font-size: 14px;

 }
 @media(max-width:425px){
    .wrapper{
        grid-template-columns: 100%;
        grid-template-areas: "a" "b" "c";
    }
    .box{
        padding: 30px;
    }
 }